{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <div class="well">
        <h1>{{ _("welcome", username=current_user.username) }}</h1>
        <h3>{{ _("you_have_not_confirmed_your_email") }}</h3>
        <p>
            {{ _("you_must_confirm_your_email") }}
            <strong>({{ current_user.email }})</strong>.
        </p>
        <p>
            {{ _("check_your_mailbox") }}
        </p>
        <p>
            {{ _("did_not_receive_email?") }}
            <a href="{{ url_for('auth.resend_confirmation') }}">
                {{ _("resend_confirmation_email") }}
            </a>
        </p>
    </div>
</div>

{% endblock content %}
