{% extends "base.html" %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ _("edit_the_player") }} {{ player.get_name() }}
        </h3>
    </div>

    <form
            action="{{ url_for('player.edit_player', player_id=player.id) }}"
            class="form-horizontal"
            method="POST"
    >
        {{ form.hidden_tag() }}

        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group {% if form.first_name.errors %} has-error {% endif %}">
                        {{ form.first_name.label() }}
                        <div>{{ form.first_name(class="form-control") }}</div>
                        <p class="help-block">{{ form.first_name.errors[0] }}</p>
                    </div>

                    <div class="form-group {% if form.last_name.errors %} has-error {% endif %}">
                        {{ form.last_name.label() }}
                        <div>{{ form.last_name(class="form-control") }}</div>
                        <p class="help-block">{{ form.last_name.errors[0] }}</p>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" type="submit">{{ _("confirm") }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
