{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block styles %}
{{ super() }}
<link
        rel="stylesheet"
        href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"
/>
<link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/tables.css') }}"
/>
{% endblock styles %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ _("players_list") }}</h3>
    </div>

    <div class="panel-body">
        {% if current_user.is_manager() %}
        <div class="btn-group" role="group">
            <a class="btn btn-success" href="{{ url_for('.create_player') }}">
                {{ _("new_player") }}
            </a>
        </div>
        {% endif %}

        <div class="table">
            <table
                    id="players-table"
                    class="table table-striped table-bordered table-hover"
            >
                <thead>
                <tr>
                    <th>{{ _("first_name") }}</th>
                    <th>{{ _("last_name") }}</th>
                    {% if current_user.is_manager() %}
                    <th>{{ _("actions") }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for player in players %}
                <tr>
                    <td>{{ player.first_name }}</td>
                    <td>{{ player.last_name }}</td>
                    {% if current_user.is_manager() %}
                    <td>
                        <div class="btn-group" role="group">
                            <a
                                    class="btn btn-warning"
                                    href="{{ url_for('.edit_player', player_id=player.id) }}"
                            >
                                <span class="fa fa-pencil"></span> {{ _("edit") }}
                            </a>
                        </div>
                        <div class="btn-group" role="group">
                            <div
                                    data-title="{{ _('delete_player') }} {{ player.get_name() }}"
                                    data-action="{{ url_for('.delete_player', player_id=player.id) }}"
                                    data-message="{{ _('confirm_player_deletion') }}"
                            >
                                <a
                                        class="btn btn-danger formConfirm"
                                        href="{{ url_for('.delete_player', player_id=player.id) }}"
                                >
                                    <span class="fa fa-trash"></span> {{ _("delete") }}
                                </a>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{ macros.confirmation_modal() }}

{% endblock content %}

{% block extrajs %}

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='js/dataTableConfig.js') | autoversion }}"></script>

<script type="text/javascript">
  var action = "view_players";
  $(".formConfirm").on("click", function(e) {
    e.preventDefault();
    var el = $(this).parent();
    var title = el.attr("data-title");
    var msg = el.attr("data-message");
    action = el.attr("data-action");
    $("#formConfirm")
      .find("#frm_body")
      .html(msg)
      .end()
      .find("#frm_title")
      .html(title)
      .end()
      .modal("show");
  });
  $("#formConfirm").on("click", "#frm_submit", function(e) {
    window.location.href = action;
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#players-table").DataTable({ ...dataTableConfig, order: [[1, "desc"]], pageLength: 10 });
  });
</script>

{% endblock extrajs %}
