{% extends "base.html" %}

{% block content %}

<div class="jumbotron bg-primary">
    <div class="text-center">
        <h1>{{ _("wtl") }}</h1>
        <div class="lead">{{ _("wtl_catchphrase") }}</div>
        <div class="row">
            <div class="col-md-6">
                <a
                        href="{{ url_for('auth.signup') }}"
                        class="btn btn-success"
                        role="button"
                >
                    {{ _("I_signup") }}
                </a>
            </div>
            <div class="col-md-6">
                <a
                        href="{{ url_for('auth.login') }}"
                        class="btn btn-success"
                        role="button"
                >
                    {{ _("I_login") }}
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
