{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="{{ url_for('.view_tournament', tournament_id=tournament.id) }}">
                {{ tournament.name }}</a
            >
            - Editer le tableau
        </h3>
    </div>

    <form
            action="{{ url_for('tournament.edit_tournament_draw', tournament_id=tournament.id) }}"
            class="form-horizontal"
            method="POST"
    >
        {{ form.hidden_tag() }}

        {{ macros.tournament_draw_creation(form) }}
    </form>
</div>

{% endblock %}
