{% extends "base.html" %}

{% from "macros/confirmation_modal.html" import confirmation_modal %}

{% block content %}

{% include "tournament/view_tournament_main_section.html" %}

{% if current_user.is_manager() %}
{% include "tournament/view_tournament_manager_section.html" %}
{% endif %}

{% include "tournament/view_tournament_participants_section.html" %}

{{ confirmation_modal() }}

{% endblock content %}

{% block extrajs %}

<script type="text/javascript">
  var action = "view_tournament";
  $(".formConfirm").on("click", function(e) {
    e.preventDefault();
    var el = $(this).parent();
    var title = el.attr("data-title");
    var msg = el.attr("data-message");
    action = el.attr("data-action");
    $("#formConfirm")
      .find("#frm_body")
      .html(msg)
      .end()
      .find("#frm_title")
      .html(title)
      .end()
      .modal("show");
  });
  $("#formConfirm").on("click", "#frm_submit", function(e) {
    window.location.href = action;
  });

</script>

{% endblock extrajs %}
