{% extends "base.html" %} {% import "_macros.html" as macros %} {% block styles
%}

{{ super() }}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"
/>
{% endblock %} {% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a data-toggle="collapse" href="#collapse1"> {{ tournament.name }}</a>
    </h3>
  </div>
  <div id="collapse1" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <!-- Registration -->
          {% if current_user.can_register_to_tournament(tournament) %}
          <p>Date limite d'inscription : {{ tournament.started_at | dt }}</p>
          <div class="btn-group" role="group">
            <a
              class="btn btn-success"
              href="{{ url_for('.register', tournament_id=tournament.id) }}"
            >
              <span class="fa fa-user-plus"></span> Je m'inscris au tournoi
            </a>
          </div>
          {% endif %} {% if current_user.can_make_forecast(tournament) %}
          <h4>Mon pronostic</h4>
          <form
            action="{{ url_for('.make_forecast', tournament_id=tournament.id) }}"
            method="POST"
          >
            {{ form.hidden_tag() }}
            <div
              class="form-group {% if form.player.errors %} has-error {% endif %}"
            >
              <div>{{form.player(class="form-control")}}</div>
              <p class="help-block">{{ form.player.errors[0] }}</p>
            </div>
            <div class="form-group">
              <button class="btn btn-success" type="submit">Valider</button>
            </div>
          </form>
          {% elif current_user.participation(tournament) %}
          <h4>Mon pronostic</h4>
          <p>
            {{
              current_user
                .participation(tournament)
                .tournament_player.player.get_name()
            }}
          </p>
          {% endif %}
        </div>
        <!-- Tournament draw -->
        {% if tournament.is_draw_created() %}
        <div class="col-md-6 col-sm-6">
          <h4>Tableau du tournoi</h4>
          <p>
            <a
              href="{{ url_for('.view_tournament_draw', tournament_id=tournament.id) }}"
            >
              <span class="fa fa-chevron-right"></span> Voir le tableau
            </a>
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if current_user.is_manager() %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a data-toggle="collapse" href="#collapse2">Gestion du tournoi</a>
    </h3>
  </div>

  <div id="collapse2" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="row">
        <!-- Tournament -->
        <div class="col-md-4 col-sm-4"><h4>Tournoi</h4></div>

        <!-- Registrations -->
        <div class="col-md-4 col-sm-4">
          <h4>Inscriptions et suivi</h4>

          {% if tournament.is_open_to_registration() %}
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group" role="group">
                <div
                  data-title="Fermer les inscriptions"
                  data-action="{{ url_for('.close_registrations', tournament_id=tournament.id) }}"
                  data-message="Confirmer la fermeture des inscriptions ?"
                >
                  <a
                    class="btn btn-secondary btn-outline formConfirm"
                    href="{{ url_for('.close_registrations', tournament_id=tournament.id)}}"
                  >
                    <span class="fa fa-lock"></span> Fermer les inscriptions
                  </a>
                </div>
              </div>
            </div>
          </div>

          {% else %}

          <div class="row">
            <div class="col-md-12">
              <div class="btn-group" role="group">
                <div
                  data-title="Ouvrir les inscriptions"
                  data-action="{{ url_for('.open_registrations', tournament_id=tournament.id) }}"
                  data-message="Confirmer l'ouverture des inscriptions ?"
                >
                  <a
                    class="btn btn-secondary btn-outline formConfirm"
                    href="{{ url_for('.open_registrations', tournament_id=tournament.id) }}"
                  >
                    <span class="fa fa-unlock"></span> Ouvrir les inscriptions
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>

        <!-- Tournament draw -->
        <div class="col-md-4 col-sm-4">
          <h4>Tableau</h4>
          {% if not tournament.is_draw_created() %}
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group" role="group">
                <a
                  class="btn btn-secondary btn-outline"
                  href="{{ url_for('.create_tournament_draw', tournament_id=tournament.id) }}"
                >
                  <span class="fa fa-list"></span> Créer le tableau
                </a>
              </div>
            </div>
          </div>
          {% else %}
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group" role="group">
                <a
                  class="btn btn-secondary btn-outline"
                  href="{{ url_for('.edit_tournament_draw', tournament_id=tournament.id) }}"
                >
                  <span class="fa fa-list"></span> Modifier le tableau de départ
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group" role="group">
                <a
                  class="btn btn-secondary btn-outline"
                  href="{{ url_for('.update_tournament_draw', tournament_id=tournament.id) }}"
                >
                  <span class="fa fa-pencil"></span> Mettre à jour le tableau
                </a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}

<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a data-toggle="collapse" href="#collapse3"> Participants</a>
    </h3>
  </div>

  <div id="collapse3" class="panel-collapse collapse in">
    <div class="panel-body">
      {% if not tournament.participations.first() %} Aucun participant à ce
      tournoi pour le moment {% elif tournament.is_open_to_registration() %}
      <div class="table">
        <table
          id="participants-table"
          class="table table-striped table-bordered table-hover"
        >
          <thead>
            <tr>
              <th>Participant</th>
            </tr>
          </thead>
          <tbody>
            {% for participant in tournament.participations %}
            <tr>
              <td>{{ participant.user.username }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="table">
        <table
          id="participants-table"
          class="table table-striped table-bordered table-hover"
        >
          <thead>
            <tr>
              <th>Participant</th>
              <th>Pronostic</th>
            </tr>
          </thead>
          <tbody>
            {% for participant in tournament.participations %}
            <tr>
              <td>{{ participant.user.username }}</td>
              <td>{{ participant.tournament_player.player.get_name() }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{{ macros.confirmation_modal() }}

{% if data %} {{ data }} {% endif %} {% endblock %} {% block extrajs %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#participants-table").DataTable({
      searching: false,
      paging: false,
      responsive: true,
      info: false
    });
  });
</script>

<script type="text/javascript">
  var action = "view_tournament";
  $(".formConfirm").on("click", function(e) {
    e.preventDefault();
    var el = $(this).parent();
    var title = el.attr("data-title");
    var msg = el.attr("data-message");
    action = el.attr("data-action");
    $("#formConfirm")
      .find("#frm_body")
      .html(msg)
      .end()
      .find("#frm_title")
      .html(title)
      .end()
      .modal("show");
  });
  $("#formConfirm").on("click", "#frm_submit", function(e) {
    window.location.href = action;
  });
</script>
{% endblock %}
