@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");

body {
  font-family: "Montserrat", sans-serif;
  padding-top: 70px;
  background: #f0f0f0;
}

@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

.logo {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar {
  background: rgba(224, 99, 51);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav li > a:focus,
.navbar-default .navbar-nav li > a:hover {
  background: rgba(241, 243, 36);
}

.panel-default > .panel-heading {
  background: rgba(39, 39, 39, 0.9);
  color: #ffffff;
}

.wrap-content {
  margin-bottom: 50px;
}

footer .navbar-nav {
  width: 100%;
  text-align: center;
}
footer .navbar-nav > li {
  float: none;
  display: inline-block;
}

.banner {
  width: 100%;
  margin-bottom: 20px;
}

.table {
  overflow-x: auto;
  white-space: nowrap;
}

.btn {
  margin-bottom: 10px;
  display: block;
}

.btn-outline {
  background-color: transparent;
  color: inherit;
}

.btn-secondary.btn-outline {
  background-color: #d0d0d0;
}

.btn-secondary.btn-outline:hover {
  color: #000;
  background-color: #e0e0e0;
}
