@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");

body {
  font-family: "Montserrat", sans-serif;
  padding-top: 70px;
  background: #e0e0e0;
}

.wrap-content {
  margin-bottom: 50px;
}

footer .navbar-nav {
  width: 100%;
  text-align: center;
}
footer .navbar-nav > li {
  float: none;
  display: inline-block;
}

.banner {
  width: 100%;
  margin-bottom: 20px;
}

.btn {
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
}

/*Bootstrap button outline override*/
.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all 0.1s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-secondary.btn-outline {
  background-color: #d0d0d0;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.btn-secondary.btn-outline:hover {
  color: #000;
  background-color: #e0e0e0;
}
