.dataTables_paginate,
.dataTables_filter {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dataTables_length {
  margin-top: 20px;
}

.dataTables_length label,
.dataTables_filter label {
  font-weight: normal;
}
