<p>Bonjour {{ user.username }},</p>

<p>
    Le tableau du tournoi {{ tournament.name }} auquel tu es inscrit a été modifié.
</p>
<p>
    Le joueur que tu as choisi ({{ forecast.get_standard_name() }}) a déclaré forfait ou a
    changé de place dans le tableau, et ton pronostic a été annulé. Pour
    participer à ce tournoi tu dois effectuer un nouveau pronostic sur
    <a href="{{ url_for('tournament.view_tournament', tournament_id=tournament.id, _external=True) }}">cette page</a>.
</p>

<br/>

<em>L'équipe de la WTL</em>
