{% extends "base.html" %}{% block content %}

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Nous soutenir</h3></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <img
                        class="banner"
                        src="{{ url_for('static', filename='images/banner.jpg') }}"
                />
                <a href="https://fr.tipeee.com/game-set-talk" target="_blank" class="btn btn-success">Je soutiens le projet</a>
            </div>
            <div class="col-lg-6 col-xs-12">
                <p>Vous qui nous suivez depuis déjà un petit bout de temps, savez que la chaîne ne cesse d'évoluer et
                    d'agrandir sa grande famille de passionnés de la balle jaune.</p>

                <p>Nous avons décidé de <strong>franchir un nouveau cap</strong> et nous voulons perfectionner cette
                    chaîne qui nous
                    tient tant à cœur, autant pour nous derrière nos caméras, que pour vous derrière vos écrans.</p>

                <p>Nous sommes une équipe de bénévoles et nous donnons beaucoup de notre temps pour
                    nourrir cette passion, et pour agrandir la famille et améliorer notre contenu, nous avons besoin de
                    plus de fonds, que ce soit pour acquérir du matériel de meilleure qualité (pour avoir la sensation
                    d'être à nos côtés, votre rêve), couvrir plus de tournois, et vous offrir plus de cadeaux. Nous
                    avons besoin de votre aide pour évoluer à vos côtés.</p>

                <p>C'est pour cette raison que nous ouvrons <strong><a href="https://fr.tipeee.com/game-set-talk">une
                    cagnotte en ligne sur Tipeee</a></strong>, <strong>en aucun cas il n'y a
                    obligation de verser de l'argent sur cette cagnotte</strong>, cela dépend de votre budget et de vos
                    envies,
                    et aucun don, aussi minime soit-il est inutile. Cela est simplement une manière, une possibilité de
                    nous soutenir, mais il y en a beaucoup d'autres qui ne nécessitent pas d'investir votre argent !</p>

                <p>Nous avons réellement envie de faire grandir <strong>ce projet qui n'est rien et ne sera rien sans
                    vous</strong> !</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
