{% if current_user.is_authenticated %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-medal" aria-hidden="true"></span>
        {{ _("the_world_tennis_league") }}
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ url_for('main.index') }}">
                <span class="fa fa-home" aria-hidden="true"></span>
                {{ _("homepage") }}
            </a>
        </li>
        <li>
            <a href="{{ url_for('user.view_user', user_id=current_user.id) }}">
                <span class="fa fa-user" aria-hidden="true"></span>
                {{ _("my_profile") }} [{{ current_user.username }}]
            </a>
        </li>
        <li>
            <a href="{{ url_for('user.settings') }}">
                <span class="fa fa-cog" aria-hidden="true"></span>
                {{ _("settings") }}
            </a>
        </li>
        <li>
            <a href="{{ url_for('auth.logout') }}">
                <span class="fa fa-sign-out-alt" aria-hidden="true"></span>
                {{ _("logout") }}
            </a>
        </li>
        <li>
            <a href="{{ url_for('auth.change_password') }}">
                <span class="fa fa-lock" aria-hidden="true"></span>
                {{ _("modify_my_password") }}
            </a>
        </li>
        <li>
            <a href="{{ url_for('main.rules') }}">
                <span class="fa fa-gavel" aria-hidden="true"></span>
                {{ _("the_rules") }}
            </a>
        </li>
    </ul>
</li>
{% else %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-medal" aria-hidden="true"></span>
        {{ _("the_world_tennis_league") }}
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ url_for('main.index') }}">
                <span class="fa fa-home" aria-hidden="true"></span>
                {{ _("homepage") }}
            </a>
        </li>
        <li>
            <a href="{{ url_for('auth.signup') }}">
                <span class="fa fa-user-plus" aria-hidden="true"></span>
                {{ _("signup") }}
            </a>
        </li>
        <li>
            <a href="{{ url_for('auth.login') }}">
                <span class="fa fa-sign-in-alt" aria-hidden="true"></span>
                {{ _("login") }}
            </a>
        </li>
        <li>
            <a href="{{ url_for('main.rules') }}">
                <span class="fa fa-gavel" aria-hidden="true"></span>
                {{ _("the_rules") }}
            </a>
        </li>
    </ul>
</li>
{% endif %}
