<footer class="navbar navbar-default navbar-static-bottom navbar-fixed-bottom">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a href="https://twitter.com/GameSetAndTalk" target="_blank">
                    <span class="fab fa-twitter fa-lg" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a
                        href="https://www.youtube.com/channel/UC36ZsZyLP1eyCJ5m5GQ1kAQ"
                        target="_blank"
                >
                    <span class="fab fa-youtube fa-lg" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/gamesetandtalk" target="_blank">
                    <span class="fab fa-facebook fa-lg" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a
                        href="https://www.instagram.com/gamesetandtalk/?hl=fr"
                        target="_blank"
                >
                    <span class="fab fa-instagram fa-lg" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="https://discord.gg/8g4Ajra" target="_blank">
                    <span class="fab fa-discord fa-lg" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="https://podcasts.apple.com/fr/podcast/game-set-talk/id1489701384">
                    <span class="fab fa-apple fa-lg" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="https://open.spotify.com/show/1Hysz51FhG4VUD2Z06KYBt?si=-bd2lIowQzerrVSRwVVNzw">
                    <span class="fab fa-spotify fa-lg" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
</footer>
